.container {

    @apply gap-[9px] grid bg-[#FFFFFF] shadow-products;

    .header {
        @apply font-sans text-[20px] text-[#6F6F6F] font-[400] leading-[26px] tracking-[0.25px];
    }

    .buttons {
        @apply flex gap-[8px];

        & .mug {
            @apply bg-[#1EA4CE] h-[30px] justify-center items-center flex border-none;

            &:hover {
                @apply bg-[#1EA4CE];
            }

            &:focus {
                @apply bg-[#1EA4CE];
            }

            &>span {
                @apply font-sans text-[13px] text-[#F2F0FD] font-bold leading-[18px];
            }
        }

        & .shirt {

            @apply bg-[#F2F0FD] h-[30px] justify-center items-center flex border-none;

            &:hover {
                @apply bg-[#F2F0FD]
            }

            &:focus {
                @apply bg-[#F2F0FD]
            }

            &>span {
                @apply font-sans text-[13px] text-[#1EA4CE] font-bold leading-[18px];
            }
        }
    }

    .products {
        @apply grid lg:grid-cols-4 grid-cols-2 md:grid-cols-4 gap-[20px] px-[20px] py-[17px];
    }

    .pagination {
        @apply self-center justify-self-center flex;

        :global {

            .ant-pagination-jump-next {
                @apply flex items-center justify-center;

                &>a {
                    .ant-pagination-item-container {
                        @apply flex justify-center;
                        color:#697488;
                    }
                }
            }

            .ant-pagination-item {
                border:unset;

                @apply flex items-center justify-center;

                &>a {
                    @apply font-sans text-[14px] text-[#697488] font-bold leading-[16px];
                }
            }

            .ant-pagination-item-active {
                @apply bg-[#1EA4CE];

                &>a {
                    @apply font-sans text-[14px] text-[#FFFFFF] font-bold leading-[16px];
                }
            }

            .ant-pagination-options {
                display:none;
            }

            .ant-pagination-prev {
                @apply flex items-start justify-center;
            }

            .ant-pagination-next {
                @apply flex items-start justify-center;
            }


        }
    }

    .prevContainer {
        @apply flex items-center justify-center gap-[10px] self-center justify-self-center lg:mr-[40px] md:mr-[40px];

        &>span {
            @apply mr-auto inline-block font-sans text-[14px] text-[#1EA4CE] font-bold leading-[16px];
        }

        &>img {
            @apply ml-auto inline-block w-[14px] h-[14px];
        }
    }

    .nextContainer {
        @apply flex items-center justify-center gap-[10px] self-center justify-self-center lg:ml-[50px] md:ml-[50px];

        &>span {
            @apply mr-auto inline-block font-sans text-[14px] text-[#697488] font-bold leading-[16px];
        }

        &>img {
            @apply ml-auto inline-block w-[14px] h-[14px];
        }
    }

    .jumpNext {
        @apply flex items-center justify-center h-[100%];
        & >span {
            @apply font-sans text-[14px] text-[#697488] font-bold leading-[16px] h-[100%] mt-[7px];
        }
    }

    .jumpPrev {
        @apply flex items-center justify-center h-[100%];
        & >span {
            @apply font-sans text-[14px] text-[#697488] font-bold leading-[16px] h-[100%] mt-[9px];
        }
    }
}